<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="xpf.printing" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=|DataDirectory|/ReportService.mdb;user id=Admin;password=;" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportServiceBinding" maxReceivedMessageSize="2097152"
                 transferMode="Streamed">
          <readerQuotas maxArrayLength="2097152" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="ReportServiceRestBinding" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebApplication3.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ReportServiceRestBehavior">
          <webHttp />
        </behavior>
        <behavior name="ReportServiceAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="ReportServiceBehavior" name="WebReportViewer.ReportService1">
        <!--<endpoint binding="basicHttpBinding" bindingConfiguration="ReportServiceBinding"
            contract="DevExpress.XtraReports.Service.IReportService" />-->
        <endpoint address="rest" behaviorConfiguration="ReportServiceRestBehavior"
            binding="webHttpBinding" bindingConfiguration="ReportServiceRestBinding"
            contract="DevExpress.Xpf.Printing.Service.IExportServiceRest" />
        <endpoint address="ajax" behaviorConfiguration="ReportServiceAjaxBehavior"
              binding="webHttpBinding" bindingConfiguration="ReportServiceRestBinding"
              contract="DevExpress.XtraReports.Service.IReportService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
